<input #filterInput>
<ng-template #recursiveTree let-groupTree>
  <div class="tree" *ngFor="let group of groupTree; trackBy: trackById">
    <ng-container *ngIf="group.visible || !filtered">
      <input type="checkbox" [id]="group.id" [disabled]="filtered" [(ngModel)]="group.visible">
      <label [for]="group.id" (click)="onGroupNameClick(group)">{{ group.name }}</label>
      <div *ngIf="group.children.length > 0 && group.visible" class="list">
        <ng-container *ngTemplateOutlet="recursiveTree; context:{ $implicit: group.children }"></ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="recursiveTree; context:{ $implicit: groupTree }"></ng-container>
